@media screen and (min-width: 480px) {
    .imgRegister {
        position: absolute;
        width: 184px;
        height: 204px;
        bottom: 95px;
        right: 63%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.lightTheme {
    composes: imgRegister;
    background-image: url('../../../images/pngegg11.png');
}

.darkTheme {
    composes: imgRegister;
    background-image: url('../../../images/pngegg2.png');
}
@media screen and (min-width: 1280px) {
    .imgRegister {
    width: 260px;
    height: 350px;
    right: 68%;
    
    }
    .lightTheme {
        composes: imgRegister;
        bottom: 65px;
    }
    
    .darkTheme {
        composes: imgRegister;
    }
}
