.homeView {
    padding: 30px 40px;
    border-radius: 5px;
    background-color: var(--backgroundSecond);
    box-shadow: 0 0 5px 1px var(--textColorBtn);
    background-position: 10px 95%;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px;
}
.lightTheme {
    composes: homeView;
    background-image: url(../../images/pngegg16.png);
}

.darkTheme {
    composes: homeView;
    background-image: none;
}
.homeText{
    color: var(--textColorMain);
    margin-bottom: 30px;
}
.subtitle {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: var(--textColorMain);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: 700;
    font-size: 22px;
    color: var(--textColorThird);
}