.homeView {
    padding: 30px 40px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--backgroundSecond);
    box-shadow: 0 0 5px 1px var(--textColorBtn);
    background-position: 10px 95%;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px;
}
.lightTheme {
    composes: homeView;
    background-image: url(../../images/pngegg12.png);
}

.darkTheme {
    composes: homeView;
    background-image: none;
}
.homeText{
    color: var(--textColorMain);
    margin-bottom: 30px;
}

.subtitle {
    width: 225px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: var(--textColorMain);
}
@media screen and (min-width: 768px) {
    .subtitle {
        width: 450px;
        font-size: 24px;
    }
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: 700;
    font-size: 22px;
    color: var(--textColorThird);
}