@media screen and (min-width: 480px) {
    .cat {
        position: absolute;
        width: 125px;
        height: 70px;
        right: 35%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .lightTheme {
        composes: cat;
        background-image: url('../../../images/pngegg13.png');
        bottom: 90px;
    }
    
    .darkTheme {
        composes: cat;
        background-image: url('../../../images/pngegg4.png');
        bottom: 105px;
        z-index: 1;
    }
}

@media screen and (min-width: 768px) {
    .cat {
        background-image: none;
    }}

@media screen and (min-width: 950px) {
.cat {
    width: 160px;
    height: 295px;
}
.lightTheme {
    composes: cat;
    background-image: url('../../../images/pngegg8.png');
    bottom: 85px; 
    left: 0px;
}

.darkTheme {
    composes: cat;
    background-image: url('../../../images/pngegg5.png');
    bottom: 70px;
    right: 0px;

}
.catHanging{
    position: absolute;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.lightThemeCat {
    composes: catHanging;
    background-image: url('../../../images/pngegg7.png');
    right: 5%;
    top: 80px;
    width: 155px;
    height: 170px;
}

.darkThemeCat {
    composes: catHanging;
    background-image: url('../../../images/pngegg6.png');
    left: 17%;
    top: 99px;
    width: 150px;
    height: 310px;
}
}
@media screen and (min-width: 1150px) {
.darkThemeCat {
    left: 25%;
}
}
@media screen and (min-width: 1300px) {
    .cat {
        right: 60px;
        width: 250px;
        height: 320px;
    }
    .lightTheme {
        composes: cat;
        height: 400px;
        bottom: 70px;
    }
    
    .darkTheme {
        composes: cat;
        bottom: 105px;
    }
    .darkThemeCat {
        left: 27%;
    }
}
@media screen and (min-width: 1630px) {
.darkThemeCat {
        left: 32%;
    }
}