.contactForm {
  padding: 20px 40px;
  border: 1px solid #06196eab;
  border-radius: 5px;
}

.contactLabel {
  font: inherit;
  font-weight: 500;
}

.contactInputName {
  width: 300px;
  margin-left: 27px;
  margin-right: 50px;
}

.contactInputNumber {
  width: 300px;
  margin-left: 10px;
  margin-right: 50px;
}

.contactBtn {
  padding: 5px 15px;
  margin: 5px auto 10px auto;
  display: block;
  background-color: #06196eab;
  color: white;
  border-radius: 5px;
  border-color: #0a0131ab;
  font: inherit;
}

.contactBtn:hover {
  background-color: white;
  color: #010508ab;
  border-color: #0a0131ab;
}
