.contactForm {
  margin-bottom: 30px;
  padding: 30px 40px;
  border-radius: 5px;
  text-align: center;
  background-color: #98e3b7;
  box-shadow: 0 0 5px 1px var(--textColorBtn);
}

.contactInput {
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f6f3e0;
  padding: 8px 20px;
  border: 1px solid var(--textColorBtn);
}
.contactInput:hover, 
.contactInput:focus{
box-shadow: 0 0 5px 1px var(--backgroundMain);
}

.contactBtn {
  margin: 0 auto;
}

.contactBtn:hover {
  background-color: var(--textColorBtn);
  box-shadow: 0 0 5px 1px var(--backgroundMain);
}
