.form {
    margin: 0 auto;
    padding: 30px 60px;
    border-radius: 5px;
    background-color: var(--backgroundSecond);
    box-shadow: 0 0 5px 1px var(--textColorBtn);
}

.label {
    font-weight: 700;
    text-align: left;
}

.input {
    margin: 5px 0 15px 0;
    width: 285px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: var(--backgroundThird);
    padding: 8px 20px;
    border: 1px solid var(--textColorBtn);
    transition-duration: 1000ms;
}

.input:hover,
.input:focus {
    box-shadow: 0 0 5px 1px var(--backgroundMain);
    transition-duration: 1000ms;
}
@media screen and (min-width: 768px) {
    .form {
        width: 350px;
    }

    .input {
        width: 300px;
    }
}
.button {
    margin: 0 auto;
}

.button:hover {
    background-color: var(--textColorBtn);
    box-shadow: 0 0 5px 1px var(--backgroundMain);
}