.section {
    padding-top: 45px;
    padding-bottom: 50px;
    min-height: 430px;
    
    
    
}
.lightTheme {
    composes: section;
    background-color: var(--backgroundThird);
}

.darkTheme {
    composes: section;
    background-color: var(--backgroundMain);
}