@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  font-family: "Montserrat Alternates", sans-serif;
  /* font-family: 'Lobster Two', cursive; */
  font-weight: 400;
  color: black;
  margin: 0;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 30px;
  padding: 0;
}
li {
  text-decoration: none;
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
}

:root{
  --backgroundMain: rgb(0 69 0);
  --backgroundSecond: #98e3b7;
  --backgroundThird: #f6f3e0;
  --textColorMain:#000000;
  --textColorSecond: #ffffff;
  --textColorThird:#fb0000ed;
  --textColorBtn:#ddaf00;
  --textColorInput: #808080;
}