.list {
  margin: 0;
  list-style: none;
  border-radius: 5px;
  gap: 15px;
  position: relative;
}

.listItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 10px;
  min-height: 52px;
  padding: 8px 20px 8px 20px;
  background-color: var(--backgroundSecond);
  border: 1px solid var(--textColorBtn);
  border-radius: 4px;
  box-shadow: 0 0px 5px 1px var(--textColorBtn);
}

.listItemMessage {
  width: 100%;
}

.listItemText {
  font-size: 16px;
  text-align: start;
}
.listItemTextNumber {
  font-size: 16px;
  text-align: start;
}

@media screen and (min-width: 480px) {
  .listItem{
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .listItemText {
    width: 180px;
  }
  .listItemTextNumber {
    width: 140px;
  }
}

@media screen and (min-width: 768px) {
  .listItemText {
    width: 300px;
    font-size: 19px;
  }
  .listItemTextNumber {
    width: 155px;
    font-size: 19px;
  }
}


